.header-color {
  background-color: #5569dc;
}

.footer-color {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #5569dc;
  justify-items: center;
  align-items: center;
  width: auto;
  height: 250px;
}

.f1 {
  position: relative;
  font-family: 'Libre Baskerville', serif;
  font-size: 35px;
  color: white;
}

.flexbox-container {
  width: auto;
  display: flex;
  justify-content: left;
  height: auto;
  position: relative;
}

.flexbox-container>div {
  font-family: 'Libre Baskerville', serif;
  margin: 15px;
  font-size: 17px;
  color: white;
  padding: 0px 10px;
}

.nameTile {
  background-image: url('https://s3-ap-southeast-2.amazonaws.com/rohithpotluri.com/Background.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  background-color: #464646;
  width: auto;
  height: 50%;
  color: white;
  padding: 20%;
}

.gridbox-element {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.profileTile {
  background-color: #5569dc;
  width: auto;
  text-align: center;
  color: white;
  height: 106.7%;
}

.profileTile>div {
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
  color: antiquewhite;
}

.image {
  border-radius: 50%;
  height: 100%;
  width: auto;
  position: relative;
}

.gridbox-element1 {
  display: grid;
  position: relative;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-column-gap: 10%;
}

.h1 {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15%;
}

.h2 {
  color: #5569dc;
}

.h3 {
  text-align: left;
  font-size: 25px;
  line-height: 50px;
  font-family: 'Josefin Sans', sans-serif;
}

.h4 {
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
}

.h5 {
  font-weight: bolder;
}

.social-menu {
  display: flex;
  justify-content: space-between;
}

.social-menu i {
  color: #000000;
}

.social-menu>div {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #000000;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  line-height: 40px;
}

.social-menu div:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social-menu div:nth-child(1) :hover {
  color: #131418;
}

.social-menu div:nth-child(2) :hover {
  color: #b92b27;
}

.social-menu div:nth-child(3) :hover {
  color: #e4405f;
}

.social-menu div:nth-child(4) :hover {
  color: #0077B5;
}

.download {
  margin-top: 30%;
}

.download>div {
  position: relative;
  background-color: white;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  line-height: 40px;
}

.download :hover {
  background-color: black;
  color: white;
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
  transition: 0.5s;
  transform: translate(0, 10px);
}

.awards {
  margin-top: 10%;
  margin-bottom: 5%;
  display: grid;
  gap: 50%;
  grid-template-columns: auto auto auto;
  grid-template-rows: 50%;
  grid-gap: 3px;
  justify-items: center;
}

.awards-minigrid {
  display: inline-grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
}

.skills {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  column-gap: 0px;
}

.line {
  border-bottom: 1px solid;
}

.line5pt {
  background-color: #5569dc;
  margin-right: 0%;
}

.line4pt {
  background-color: #5569dc;
  margin-right: 20%;
}

.line3pt {
  background-color: #5569dc;
  margin-right: 40%;
}

.scroll {
  position: relative;
  font-size: 15px;
}

.scroll>div {
  color: #000000;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  line-height: 30px;
  text-align: center;
  scroll-behavior: smooth;
}

.scroll :hover {
  transition: 1s;
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}